<!-- {% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main">


     ======= Portfolio Details Section ======= 
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <h1>Result</h1>
       
        <h2>Author</h2>
        <p>{{ author }}</p>

        <h2>Body</h2>
        <p>{{ body }}</p>

        <a href="{% url 'posts' %}">목록</a>

       

        </div>

      </div>
    </section> End Portfolio Details Section

  </main> End #main

  {% endblock %} -->