{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ post.update_counter }}

<style>
  .btn {
    border: 1px solid darkgray;
    margin-top: 20px;
  }
 
  .swiper-slide {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .post-body, .mb-3 {
      text-align: center;
    }

  .btn-group {
    float: right;
  }

</style>

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>



<main id="main">
  <section class="main-box">

    <div class="container">
     
      <img class="posts-banner" src="{% static 'assets/img/posts-banner.png' %}" class="img-fluid" alt="">

      {% if post %}
      <h2 class="banner-term">{{ post.title }}</h2>
      <div class="post-title">
      <p>{{ post.user.get_username }} | {{ post.created_at|date:'Y/m/d H:i' }} | </p>
      <p>조회수 {{ post.n_hit }}</p>
      {% endif %}

     
</div>

<hr>  


      {% if post.image %}
      <div class="swiper-slide">
        <img src="{{ post.image.url }}" width="70%" height="70%" alt="Post Image">
      </div>
      {% endif %}


<p class="post-body">{{ post.body }}</p>


  <!-- 좋아요 start -->
  {% if user.is_authenticated %}
  <form class="mb-3" method="POST" action="{% url 'like' post.id %}">
    {% csrf_token %}

    {% if user in post.liked_users.all %}
    <button type="submit" class="btn btn-outline-self"><i class="fas fa-heart"></i> {{ post.liked_users.count}} </button>
    {% else %}
    <button type="submit" class="btn btn-outline-self"><i class="far fa-heart"></i> {{ post.liked_users.count}} </button>
    {% endif %}
  </form>
<!-- 좋아요 end -->

{% else %}
<p>No Post</p>
{% endif %}

<div class="btn-group" role="group" aria-label="btngroup">
  <a class="btn btn-outline-dark" href="{% url 'posts' %}">목록</a>
  {% if user == post.user %}
  <a class="btn btn-outline-dark" href="{% url 'edit' post.id %}">수정하기</a>
  <a class="btn btn-outline-dark" href="{% url 'delete' post.id %}">삭제하기</a>
  {% endif %}
</div>
 


   

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}