{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  h1 {
    margin-top: 80px;
  }

  .btn-group {
    text-align: center;
  }
  .btn {
    border-color : lightgray;
    margin-left: 620px;
    margin-top: 20px;
  }
  img {
    margin-bottom : 60px;
  }

</style>
<main id="main">
  <section class="main-box">
    <div class="container">
    
      <img class="posts-banner" src="{% static 'assets/img/posts-banner.png' %}" class="img-fluid" alt="">

        <form method="POST" action="{% url 'update' post.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">글 제목</label>
            <input type="title" class="form-control" id="title" name="title" value="{{ post.title }}">
          </div>
  
        <div class="mb-3">
            <label for="body" class="form-label">내용</label>
            <textarea id="body" cols="30" rows="10" name="body" class="form-control">{{ post.body }}</textarea>
        </div>

        {% if post.image %}
        <div class="mb-3 col-md-6">
          <img class="img-fluid" src="{{ post.image.url }}" alt="Post Image">
        </div>
        {% endif %}

        <div class="mb-3 col-md-6">
            <label class="form-label" for="image">이미지</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="btn-group">
        <input class="btn btn-outline-dark" type="submit" value="수정하기">
        <a class="btn btn-outline-dark" href="{% url 'posts' %}">목록</a>
        </form>
        </div>
</div>
       

       

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}