{% extends 'base.html' %}
{% load static %}
{% block content %}

<head><link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.js"></script></head>
<main id="main">
  <section class="main-box">

      <div class="container">
          <img class="posts-banner" src="{% static 'assets/img/posts-banner.png' %}" class="img-fluid" alt="">
        
        <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">글 제목</label>
            <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요!" name="title">
          </div>
  

        <div class="mb-3">
          <label for="body" class="form-label">내용</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" name="body"></textarea>
        </div>

        
        <div class="mb-3 col-md-6">
          <label class="form-label" for="image">이미지</label>
          <input type="file" class="form-control" id="image" name="image">
      </div>
        <input type="submit" value="작성하기">
        </form>

        <a href="{% url 'posts' %}">목록</a>
       
      </div>

    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}