{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main">


    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <h1>커뮤니티 글쓰기!</h1>
        <form method="POST" action="{% url 'create' %}">
          {% csrf_token %}
           

        <div>
            <label for="body">Body</label>
            <textarea id="body" cols="30" rows="10" name="body"></textarea>
        </div>
        <input type="submit" value="작성하기">
        </form>
</div>
        <a href="{% url 'posts' %}">목록</a>

       

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}