{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .btn {
        border-color:lightgray;
        text-align: center;
    }

    .search {
        margin: 0 auto;
        width: 50%;
        margin-bottom: 40px;
    }

    .row {
        margin-top: 70px;
    }  

    @media screen and (max-width: 768px) {
   .posts-banner {
     width : 100%;
     height: 100%;
   }
   .search {
       margin: 0 auto;
       margin-bottom: 40px;
       width: 100%;
   }


}

</style>

{{ post.update_counter }}

<main id="main">
    <section class="main-box">
        <div class="container">
            <img class="posts-banner" src="{% static 'assets/img/posts-banner.png' %}" class="img-fluid" alt="">
            
        <div class="search">
            <form action="" method='GET'>
                <div class="row" style="margin-bottom:15px;">
                   
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" name="search_key" value="{{ search_key }}"
                                placeholder="제목을 입력해주세요!">
                            <span class="input-group-btn">
                                <input class="btn btn-outline-dark" type="submit" value="찾기">
                            </span>

                   
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>

        </div>

            {% if posts %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th></th> -->
                        <th>작성자</th>
                        <th>제목</th>
                        <th>날짜</th>
                        <th>조회수</th>


                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}

                    <tr style="cursor: pointer;" onclick="location.href='{{post.id}}/'">
                        <!-- <td></td> -->
                        <td>{{ post.user.get_username }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.created_at|date:'Y/m/d H:i' }}</td>
                        <td>{{ post.n_hit }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p>검색하신 게시물이 존재하지 않습니다!</p>
            {% endif %}

            <a class="btn btn-outline-dark write" href="{% url 'new' %}">글쓰기</a>
        </div>

    </section>
</main>
{% endblock %}