{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">
    <section class="main-box">
        
        <div class="container">
            <img class="video-banner" src="{% static 'assets/img/video-banner.png' %}" class="img-fluid" alt="">
         
            <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="{% static 'assets/img/logo.png' %}" width="242px" height="200px" alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>욜롤롤</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>
 
        </div>
    </section>
</main>
{% endblock %}