{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<style>
  #player {
    width: 100%;
    height: 500px;
  }

  .row {
    margin-top: 30px;
  }

  h4 {
    width: 80%;
  }
  .btn {
    float: right;
    border-color: lightgray;
  }

  .btn-outline-self {
    border-color: lightgray;
    text-align: center;
    margin-right: 650px;
  }

  ul {
    margin-top: 30px;
  }
  @media screen and (max-width: 768px) {
   .posts-banner {
     width : 100%;
     height: 100%;
   }
  }
</style>
<div class="hidden" style="color:white">
{{ video.vupdate_counter }}
</div>
<main id="main">
  <section class="main-box">

    <div class="container">
      <img class="posts-banner" src="{% static 'assets/img/video-banner.png' %}" class="img-fluid" alt="">
    </div>
  </section>

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="col-md-16">
            <div id="player" width="100%"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            {% if video %}
            <h4>{{ video.title }}</h4>
            <hr>
            <ul>
              <li><strong>작성자</strong>: {{ video.author }}</li>
              <li><strong>업로드</strong>: {{ video.created_at|date:'Y/m/d H:i' }}</li>
              <li><strong>조회수</strong>: {{ video.v_hit }}</li>
             </ul>
    
         
        </div>
        <div class="portfolio-description">
          <p>
            {{ video.body }}
          </p>
            

          <a href="{% url 'video' %}" class="btn btn-outline-dark" role="button">목록</a>
        </div>
        

        {% else %}
        <p>No Post</p>
        {% endif %}
      </div>
  <!-- 좋아요 start -->
  {% if user.is_authenticated %}
  <form class="mb-3" method="POST" action="{% url 'vlike' video.id %}">
    {% csrf_token %}

    {% if user in video.vliked_users.all %}
    <button type="submit" class="btn btn-outline-self"><i class="fas fa-heart"></i> {{ video.vliked_users.count}} </button>
    {% else %}
    <button type="submit" class="btn btn-outline-self"><i class="far fa-heart"></i> {{ video.vliked_users.count}} </button>
    {% endif %}
  </form>
  {% endif %}
<!-- 좋아요 end -->
    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
<script>
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '{{ video.video_key }}'
    });
  }
</script>
{% endblock %}